.section-inicio {
  background-image: url(../images/slider-1.png);
  width: 100%;
  height: 768px;
  background-size: cover;
  display: flex;
  align-items: center;
}
.inicio-h2 {
  font-size: 48px;
}

.slider {
  color: #ffffff;
  justify-content: flex-start;
  padding-left: 101px;
}
  
.slider-read-more {
  background: $color-primary;
  margin-top: 32px;
  display: flex;
  padding: 14px 32px;
  border-radius: 25px;
  width: max-content;
  text-decoration: none;
  color: #ffffff;
}
