.section-contact {
    background: linear-gradient(90deg, #f2f4f1 75%, #dce1da 25%);
    width: 100%;
    height: 768px;
    display: flex;
  }
  
  .contact-form {
    margin: auto;
    
    button {
      margin-top: 40px;
    }

    h2 {
      padding-bottom: 70px;
      font-size: 39px;
      font-weight: bold;
    }
    
    input, textarea {
      background: transparent;
      border: none;
      border-bottom: 2px solid #DCE1DA;
      opacity: 1;
      width: 471px;
    }
  }
  
  .contact-image {
    margin: auto;
  }