.footer {
  background-color: #343434;
  color: #ffffff;
  display: flex;
  height: 96px;
  width: 100%;
  align-items: center;
}
.footer-copyright {
  margin-left: 101px;
  padding-top: 28px;
}
.footer-logo {
  margin-left: auto;
  padding: 38px 101px;
}